<p>Dear {{ userName }},</p>
<p>Kindly click on the link below if you want to recover your password:</p>
<p>
  <a href="{{ url }}">Complete your password recovery procedure</a>
</p>
<p>If you have not initiated this request, please disregard this message.</p>
<p>If you did not ask to recover your password, please ignore this email and consider changing your password, as someone may want to break into your account.</p>
<p>Best regards,</p>
<p>Your [Company Name] Team</p>
<p>Security Token: {{ passwordRecoveryCode }}</p>